@import "./reset.css";

:root {
  --blue-bg-color: darkblue;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  color: white;
  background-color: var(--blue-bg-color);
  width: 100%;
  padding: 8px 16px;
}

h1 {
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  padding: 16px;
}

.gameboard {
  width: min(500px, calc(100vw - 32px), calc(100vh - 2rem - 8px - 32px));
  height: min(500px, calc(100vw - 32px), calc(100vh - 2rem - 8px - 32px));
  border: 1px solid;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  .cell {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(20vw, 20vh, 80px);
    font-family: sans-serif;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  .players {
    display: flex;
    max-width: calc(100vw - 32px);
    gap: 8px;
    justify-content: center;
    input {
      flex-shrink: 1;
      flex-grow: 1;
      max-width: calc(50vw - 40px);
    }
    .switch-places {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  button {
    background-color: var(--blue-bg-color);
    border: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.25rem;
    color: white;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      font-size: 1.2rem;
    }
  }
}
